@use "sass:color";
@use "mixins";
@use "variables";
@use "typography";

.btn {
  display: inline-block;
  padding: variables.$spacing-sm variables.$spacing-md;
  border: 1px solid variables.$outline-color;
  width: 358px;
  height: 52px;
  @extend .label;
  text-align: center;
  @include mixins.transition(all);
}

.btn-primary {
  @extend .btn;
  background-color: variables.$primary-color;
  color: variables.$text-black;
  &:hover {
    background-color: color.adjust(variables.$primary-color, $lightness: -10%);
  }
}

.btn-secondary {
  @extend .btn;
  background-color: variables.$secondary-color;
  color: variables.$text-black;
  &:hover {
    background-color: color.adjust(variables.$secondary-color, $lightness: 10%);
  }
}

.btn-danger {
  @extend .btn;
  background-color: variables.$danger-color;
  color: variables.$black;

  &:hover {
    background-color: color.adjust(variables.$danger-color, $lightness: -10%);
  }
}

// 카카오 버튼 스타일 (로그인에서 이동)
.btn-kakao {
  @extend .btn-primary;
  cursor: pointer;
  background: #FAE100;

  .inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
