@use "variables";

body {
  background-color: variables.$background-color;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  padding: variables.$spacing-md;
  background-color: variables.$background-color;
  min-height: 100vh;
}

header,
footer {
  background-color: variables.$primary-color;
  color: variables.$white;

  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
