@use "variables";

h1,
h2,
h3 {
  font-family: variables.$font-heading;
  margin-bottom: variables.$spacing-md;
}

p {
  margin-bottom: variables.$spacing-md;
}

a {
  color: variables.$primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 1.25rem; // 20px
  line-height: 1.4;
}

.subTitle {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 1.125rem; // 18px
  line-height: 1.4;
}

.label {
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 1.125rem; // 18px
  line-height: 1.4;
}

.body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 1rem; // 16px
  line-height: 1.5;
}

.caption1 {
  font-family: "pretendard", sans-serif;
  font-weight: 400;
  font-size: 0.875rem; // 14px
  line-height: 1.4;
}

.caption2 {
  font-family: "pretendard", sans-serif;
  font-weight: 400;
  font-size: 0.75rem; // 12px
  line-height: 1.3;
}