$max-width: 420px;

// font
$font-base: Arial, sans-serif;
$font-heading: Helvetica, serif;

// color
$primary-color: #A7D783;
$secondary-color: #ffc107;
$danger-color: #f44336;
$background-color: #FDFDF4;
$gray: #c3c3c3;
$black: #000000;
$white: #ffffff;
$text-black: #2F2D2B;
$disabled: #C5CCC7;

// spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
