@use "variables";
@use "mixins";
@use "reset";
@use "typography";
@use "button";
@use "layout";
@use "components/bottom-bar";
@use "components/header";
@use "pages/login";
@use "pages/extra-info";
@use "pages/home";
@use "pages/chat";
@use "pages/chatRoom.scss";
@use "pages/reivew.scss";

#root {
  width: 100%;
  max-width: variables.$max-width;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
